#S:single sequence, M:multiple sequence, A:aligned sequence P:Pair sequence (asequence and bsequence)
fasta=S
hmmer3_hmmscan=S
hmmer3_phmmer=S
hmmer_hmmscan=S
clustalo=M
ncbiblast=S
ncbiblast_plus=S
simple_phylogeny=A
iprscan5=S
mview=M
emboss_needle=P
pfamscan=
phobius=S
pratt=A
Radar=S
fasta=S
psiblast=S
kalign=M
mafft=M
muscle=M
tcoffee=M
#emboss_needle=S keep comment this line, as it requires pair's parameters